Here are the packages necessary for using our program:

• https://github.com/matplotlib/mpl_finance/archive/master.zip
    ◦ For candlestick analysis
• tabulate
    ◦ For better readability and printing data
• numpy
    ◦ For various calculations such as linspace, mean, std, etc.
• pandas
    ◦ For main data management and cleaning
• fix_yahoo_finance
    ◦ For pulling data from yahoo finance
• pandas_datareader.data
    ◦ For pulling data from yahoo finance
• requests
    ◦ For pulling data from yahoo finance
• bs4
    ◦ For pulling data from yahoo finance
• datetime
    ◦ For formatting dates in our plots
• matplotlib.pylot
    ◦ For plotting
• seaborn
    ◦ For VaR calculation and graph
• scipy.stats
    ◦ For normal continuous variables in various calculations
• math
    ◦ For various calculations
• urllib3
    ◦ For turning off a neglible warning
• tkinter
    ◦ For User interface

They can be installed using pip install or other installation methods on your local machine.
